@charset "UTF-8";
/* CSS Document */

.left p {
    position: relative;
    left: 6%;
    width: 43%;
    font-size: 1.1em
}

.left h2 {
    position: relative;
    left: 6%;
    width: 43%;
    color: blue;
    font-family: sans-serif;
}

.right {
    position: absolute;
    top: 35px;
    left: 60%
}

.right p {
    font-size: 0.6em;
    color: blue;
    margin-left: 10px;
    margin-right: 40px;
    font-style: oblique
}

.right img {
    width: 80%;
    margin: 10px
}

a img {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

a img:hover {
    -webkit-transform: scale(0.88, 0.88);
    transform: scale(0.88, 0.88);
}

.index {
    position: fixed;
    text-decoration: none;
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.9em
}